.ant-picker-header-super-prev-btn,.ant-picker-header-prev-btn,.ant-picker-header-next-btn,.ant-picker-header-super-next-btn{
  width: 10px;
}
.ant-picker-month-btn,.ant-picker-year-btn{
  width: auto;
}
.frame{
  width: 40rem;
}



  