.container--row {
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  align-items: center;
  padding: 30px;
}

.frame {
  padding: 60px;
  width: 30rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;   
}

.frame--add-user {
  max-width: 25rem;
  padding: 20px;
}

.select {
  width: 60%;
}

.frame .ant-select-selector {  
  text-align: start;
}


  