@import '~antd/dist/antd.css';

.site-layout-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  flex-wrap: wrap;
  padding: 30px 20px;
}

.site-layout-content > * {
  flex-basis: 45%;
  margin: 0 auto;
}

label {
  font-weight: bold !important;
}

.info-field-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-field-wrapper > *{
  flex-basis: 60%;
}

.editing-button--wrapper {
  flex-basis: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}