.button1{
    width: 200px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .2s;
    outline: none;
  }
  
  .button1:hover{
    background: rgba(67, 146, 224, 0.4);
    
  }
  .button1:active{
    background: rgb(30,144,255,.6); 
  }
  
  
  .inpt:focus {
    border-color: #40a9ff;
    outline: 0;
    -webkit-box-shadow: 0 0 0 1px #40a9ff;
    box-shadow: 0 0 0 1px #40a9ff;
}
.inpt{
  margin: 5px;
}