.cont{
  text-align: center;
}

.ant-picker-calendar-date, th{
  font-size: 20px;
}
.site-calendar {
  width: 80%; 
  height: 100%; 
}

.events {
  list-style: none;
  margin: 0;
  padding: 0;
}
.events .ant-badge-status {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
  font-size: 12px;
}
.notes-month {
  text-align: center;
  font-size: 28px;
}
.notes-month section {
  font-size: 28px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-badge-status-success {
  background-color: #1890ff;
}
  
 .ant-picker-calendar-mode-switch>.ant-radio-button-wrapper, .ant-picker-calendar-mode-switch>.ant-radio-button-checked{
  display: none;
}