.ant-form-item{
    margin-bottom: 5px;
}
.ant-cascader-menu{
    height: auto;
}
.button2{
    width: 100%;
}
.ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled), .ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled):hover {
   background-color: white;
}
.ant-col-10{
    max-width: none;
}
.ant-steps-navigation.ant-steps-small .ant-steps-item-container{
    margin-left: 12px;
}
.cont2{
    justify-content: start;
    align-items: flex-start;
}

.steps-content {
    margin-top: 5px;
    border-radius: 2px;
    background-color: #fafafa;
    min-height: 100px;
    padding-top: 10px;
  }
  
  